body{
    background-color: #e9dda793;
}

img{
    float: right;
    margin-left: 20px;
}

#form_div{
    display: inline-block;
    margin-left: 530px;
    margin-top: 80px;
    border: 3px solid black;
    background-color: rgb(211, 200, 78);
}

#header_instruction{
    display: block;
    background-color: white;
    position: fixed;
    margin-top: 10px;
    font-size: 50px;
}

#form{
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}