{% extends "base.html" %}

{% block title %}
    <title>Add CV</title>
{% endblock %}

{% block utils %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/add-cv.css" %}" type="text/css" />
{% endblock %}

{% for msg in messages %}
    {{msg}}
{% endfor %}

{% block header %}
    <h1 id="header_instruction">Add your CV...</h1>
{% endblock %}

{% block content %}
<article>
    <div id="form_div">
        <form id="form" method="post" autocomplete="off" action="{% url "add_cv" %}">
            {% csrf_token %}

            <label for="First name"><strong>First name </strong></label>
            <input id="first_name" type="text" name="first_name" autocomplete="off" placeholder="First name"/><span>&emsp;</span>

            <span><strong>Last name </strong></span>
            <input type="text" name="last_name" autocomplete="off" placeholder="Last name"/><br><br>

            <span><strong>Email </strong></span>
            <input type="text" name="email" autocomplete="off" placeholder="Email"/><span>&emsp;</span>

            <span><strong>Phone </strong></span>
            <input type="text" name="phone_number" autocomplete="off" placeholder="Phone"/><br><br>

            <span><strong>URL </strong></span>
            <input type="text" name="url" autocomplete="off" style="width: 320px;" placeholder="Url"/><br><br>

            <span><strong>Position </strong></span>
            <select name="position">
                {% for position in positions %}
                    <option value="{{position.id}}">
                        {{position.position_name}}
                    </option>
                {% endfor %}
            </select><br><br><hr>

            <p><strong>Technologies </strong></p>
            <textarea rows="20" cols="60" name="technologies" style="border-color: blue;"></textarea>><span>&emsp;</span>

            <span><strong>Languages </strong></span>
            <textarea rows="7" cols="30" name="languages" style="border-color: blue;"></textarea>><br><br>

            <p><strong>Motivation </strong></p>
            <textarea rows="18" cols="60" name="motivation" autocomplete="off" style="border-color: blue;"></textarea>
            <br><hr><br>

            <input type="submit" value="Send" style="height: 40px; width: 75px;"/><br><br><br>
        </form>
    </div>
</article>
{% endblock %}
