<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Display CVs</title>
</head>
<body>
    <h1>List of all CVs</h1>

    <ul id="cvs-list"></ul>

    <script>
        $(document).ready(function(){
            console.log("Here 1");
            setInterval(function(){
                console.log("Here 2");
                
                $.ajax({
                    type: "GET",
                    url: "{% url 'display_cvs' %}",
                    success: function(response){
                        console.log(response);
                    },
                    error: function(response){
                        alert("An error occured!");
                    }
                });
            }, 1000);
        });
    </script>
</body>
</html>