<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    
    {% block document_title %}{% endblock %}
</head>
<body>
    <nav>
        <div id="nav-content">
            <a id="nav-home" href={{to_home}}><span style="color: rgb(110, 80, 80);">NOTEMANAGER</span></a>
            <span id="new-note" class="nav-text">New note</span>
            <a class="nav-text" href="{% url 'about' %}"><span style="color: rgb(73, 69, 69);">About</span></a>
            <a class="nav-text" href="{% url 'contacts' %}"><span style="color: rgb(73, 69, 69);">Contacts</span></a>
            
            <span class="nav-text">
                <a href="{% url 'user_logout' %}"><span style="color: rgb(73, 69, 69);">Logout({{username}})</span></a>
            </span>
        </div>
    </nav><br><br><br><br><br>


    {% block content %}{% endblock %}

    {% block aside_panel %}{% endblock %}

    {% block scripts %}{% endblock %}
    

    <footer>
        <div id="footer_container">
            <table id="footer_table">
                <thead>
                    <tr>
                        <th>
                            Github
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="https://github.com/Iliyan0411" target="_blank">https://github.com/Iliyan0411</a>
                        </td>
                        <td>
                            <p>ilian.dd00@gmail.com</p>
                        </td>
                        <td>
                            <p>0896146639</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </footer>
</body>
</html>