{% extends "base.html" %}
{% load static %}

{% block document_title %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <title>Home</title>
{% endblock %}

{% block content %}
    <div id="body-container" style="display: flex;">
        <div id="display_notes"></div>
        <textarea id="display_content" readonly placeholder="Choose a note..."></textarea>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}