{% extends "base.html" %}


{% block document_title %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_note.css' %}">

    <title>New note</title>
{% endblock %}


{% block content %}
    <form method="post" action="/new-note/">
        <div id="form-container">
            <p>{{form.title}}</p>
    
            <p>{{form.content}}</p>
    
            <input id="create-button" type="submit" value="Create">
        </div>
    </form>
    <br><br><br><br><br><br>
{% endblock %} 