body{
    background-color: whitesmoke;
}

nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border-style: groove;
}

a{
    text-decoration: none;
}

#github-link{
    color: rgb(73, 69, 69);
    text-decoration: underline;
}

#nav-content{
    position: relative;
    padding: 15px;

    background-color: skyblue;
    color: rgb(73, 69, 69);
    font-size: 30px;
}

.nav-text{
    margin-left: 100px;
}

.nav-text:hover{
    cursor: pointer;
}

#new-note{
    text-decoration: underline;
}

#nav-home{
    margin-right: 100px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 99.7%;
    
    background-color: skyblue;
    border-style: groove;
}

#footer_container{
    position: relative;
    padding: 15px;
    margin-left: 18%;

    color: rgb(73, 69, 69);
}

td{
    padding: 0 100px;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}