#display_notes{
    font-size: 20px;
}

#note_title{
    text-align: center;
}

#note-title{
    position: fixed;
    margin-top: 13px;
    margin-left: 26%;
    height: 20px;
    width: 491px;
    border: none;
    padding: 15px;
    background-color: rgb(233, 207, 173);
    box-shadow: -3px 3px 10px 1px gray;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

#display_content{
    resize: none;
    position: fixed;
    margin-left: 26%;
    margin-top: 70px;
    background-color: rgb(233, 207, 173);
    box-shadow: -3px 3px 10px 1px gray;
    height: 550px;
    width: 500px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.note-row{
    display: inline-block;
    position: relative;
    padding: 7px;
    padding-top: 13px;
    width: 600px;
    height: 30px;
    border-radius: 50% 10% / 10% 40%;
    background-color: rgb(205, 233, 127);
    text-align: center;
    letter-spacing: 3px;
}

.note-row:hover{
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(133, 156, 69);
}

.note-row:active{
    transform: translateX(10px);
}

.del-button{
    padding: 10px;
    margin-left: 20px;
    width: 70px;
    border: none;
    background-color:rgb(75, 158, 190);
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 3px;
}

.del-button:hover{
    cursor: pointer;
    background-color:rgb(40, 116, 146);
}

.del-button:active{
    box-shadow: 0 2px grey;
    transform: translateY(4px);
}

.not-visible{
    display: none;
}

#save-button{
    position: absolute;
    margin-top: 570px;
    margin-left: 315px;
    background-color: rgb(40, 116, 146);
    color: white;
    border: none;
    font-size: 26px;
    padding: 15px;
    border-radius: 100%;
    letter-spacing: 1px;
}

#save-button:hover{
    cursor: pointer;
    background-color: rgb(75, 158, 190);
}

#save-button:active{
    box-shadow: 0 2px grey;
    transform: translateY(4px);
}